---
import CountryBorders from "./CountryBorders.astro";
import CountryInfo from "./CountryInfo.astro";

const { country } = Astro.props;
---

<div class="grid lg:grid-cols-2 gap-y-11 lg:gap-36 lg:items-center">
  <img
    class="justify-self-center w-full max-w-[35rem] max-h-96 lg:max-w-max rounded-lg"
    src={country.flags.svg}
    alt={country.name.common}
  />

  <div>
    <h1 class="mb-4 lg:mb-6 text-2xl lg:text-3xl font-extrabold">
      {country.name.common}
    </h1>

    <div class="grid lg:grid-cols-2 gap-8 lg:justify-between mb-8 lg:mb-16">
      <CountryInfo country={country} />
    </div>

    <div class="col-span-2">
      <CountryBorders country={country} />
    </div>
  </div>
</div>
